<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>PREMIUM</th>
        <th>GAMMA</th>
        <th>VEGA</th>
        <th>THETA</th>
        <th>DELTA</th>
        <th>RHO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_with_precision(black_scholes_data[:price], precision: 2) %></td>
        <td><%= number_with_precision(black_scholes_data[:gamma], precision: 2) %></td>
        <td><%= number_with_precision(black_scholes_data[:vega], precision: 2) %></td>
        <td><%= number_with_precision(black_scholes_data[:theta], precision: 2) %></td>
        <td><%= number_with_precision(black_scholes_data[:delta], precision: 2) %></td>
        <td><%= number_with_precision(black_scholes_data[:rho], precision: 2) %></td>
      </tr>
    </tbody>
  </table>
</div>
