<h1 class="col-md-offset-3">BLACK & SCHOLES MODEL</h1>
<br>
<%= form_tag black_scholes_reports_path, method: :post, id: 'black_scholes_form', "class"=> 'role form-horizontal', :remote => true do %>
	<div class="form-group">
	  <label class="col-md-4 control-label" for="request-description">STOCK PRICE</label>
	  <div class="col-md-4">
	    <%= number_field_tag :stock_price, "", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-4 control-label" for="request-description">SPOT PRICE</label>
	  <div class="col-md-4">
	    <%= number_field_tag :strike_price, "", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-4 control-label" for="request-description">MATURITY DATE</label>
	  <div class="col-md-4">
	    <%= text_field_tag :maturity_date, "", class: 'form-control form_datetime' %>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-4 control-label" for="request-description">VOLATILITY (%)</label>
	  <div class="col-md-4">
	    <%= number_field_tag :volatility, "", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-4 control-label" for="request-description">INTEREST (%)</label>
	  <div class="col-md-4">
	    <%= number_field_tag :interest_rate, "", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-4 control-label" for="request-description"></label>
	  <div class="col-md-4">

			<label class="radio-inline">
	      <%= radio_button_tag :call_or_put, 'call', checked: true %> Call
	    </label>
	    <label class="radio-inline">
	      <%= radio_button_tag :call_or_put, 'put' %> Put
	    </label>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-4 control-label"></label>
	  <div class="col-md-4">
	    <%= submit_tag "CALCULATE", class: 'btn btn-info' %>
	  </div>
	</div>
<% end %>
<div id="black_scholes_report">
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".form_datetime").datetimepicker();
	});
</script>